{% extends 'base_layout.html' %}

{% block content %}

 <div id="tableList">
   <table id="myTable" class="display" style="width:100%">
           <thead>
               <tr>
                   <th>Descryption</th>
                   <th>Category</th>
                   <th>State</th>
                   <th>location</th>
                   <th>Creation date</th>
                   <th>Author</th>
               </tr>
           </thead>
           <tbody>
             {% for occurrence in occurrences %}
               <tr>
                   <td>{{ occurrence.description }}</td>
                   <td>{{ occurrence.get_category_display }}</td>
                   <td>{{ occurrence.state }}</td>
                   <td>({{ occurrence.location.x }},{{ occurrence.location.y }})</td>
                   <td>{{ occurrence.creation_date }}</td>
                   <td>{{ occurrence.author }}</td>
               </tr>
              {% endfor %}

           </tbody>
       </table>
 </div>

<script>

  $(document).ready( function () {
      $('#myTable').DataTable();
  } );

</script>

{% endblock %}
